<%= render 'layouts/head' %>
<section class="container margin-top">
  <div class="columns is-centered">
    <div class="column is-10">
      <div class="article">
        <div class="content notification">
          <div class="level box">
            <div class="level-left has-text-centered">
              <h5 class="subtitle has-text-info">News</h5>
            </div>
            <div class="level-item has-text-centered">
              <h5 class="subtitle has-text-info">Will Huawei's Google woes worry Africa ?</h5>
            </div>
            <div class="level-right has-text-centered">
              <h5 class="subtitle has-text-info">26-05-2019</h5>
            </div>
          </div>
          <article class="content box">
            Most Africans connecting to the internet today are likely to be using a Chinese smartphone, powered by a Chinese-built network, and at least half of the time, it was built by Chinese tech giant, Huawei.US President Donald Trump has been leading a public campaign urging American allies to cut ties with Huawei, saying the company's technology, among other things, was a security risk because it allowed the Chinese government to spy.While the recent concern about Huawei has been focused on communications networks in the West, there are also allegations of a previous security breach in Africa.Critics of Huawei operations point to a report in January 2018 in French newspaper Le Monde that found that the computer system at the African Union headquarters in Ethiopia's capital, Addis Ababa, which was installed by Huawei, had allegedly been compromised.The discovery found that for five years, between the hours of midnight and 0200, data from the AU's servers was transferred more than 8,000km away - to servers in Shanghai.frican governments, even those with close security relationships with the US, have mostly sat out of the debate about Huawei - and the reasons are obvious.Huawei runs a vast operation in Africa including being a major seller of smartphones.
            <h5>@Author: vincent</h5>
            <div class="level is-mobile">
              <div class="level-left">

              </div>
              <div class="level-right">
                <div class="level-item">
                  <span class="icon has-text-info">
                    <i class="fa fa-comment-o"></i>
                  </span>
                </div>
                <div class="level-item">
                  <span class="icon has-text-danger">
                    <i class="fa fa-heart"></i>
                  </span>
                </div>
                <div class="level-item">
                  <span class="icon has-text-info">
                    <i class="fa fa-eye"></i>
                  </span>
                </div>
              </div>
              </div>
          </article>
        </div>

        <div class="content notification">
          <div class="level box">
            <div class="level-left has-text-centered">
              <h5 class="subtitle has-text-info">News</h5>
            </div>
            <div class="level-item has-text-centered">
              <h5 class="subtitle has-text-info">Kenya gets clean energy boost</h5>
            </div>
            <div class="level-right has-text-centered">
              <h5 class="subtitle has-text-info">26-05-2019</h5>
            </div>
          </div>
          <article class="content box">
            The Department for International Development’s Transforming Energy Access programme has already helped people and businesses across Africa cut 2 million tonnes of carbon emissions and improve the lives of 3.2 million low-income people. It has also leveraged $359 million worth of investment in clean energy from the public and private sectors.At an event in London, the UK’s Minister for Africa, Harriett Baldwin, announced the commitment by InfraCo Africa to develop two solar plants in Samburu and Transmara, each with a capacity of 10 MWAC, to give more people access to affordable, clean energy.
            <h5>@Author: vincent</h5>
            <div class="level is-mobile">
              <div class="level-left">

              </div>
              <div class="level-right">
                <div class="level-item">
                  <span class="icon has-text-info">
                    <i class="fa fa-comment-o"></i>
                  </span>
                </div>
                <div class="level-item">
                  <span class="icon has-text-danger">
                    <i class="fa fa-heart"></i>
                  </span>
                </div>
                <div class="level-item">
                  <span class="icon has-text-info">
                    <i class="fa fa-eye"></i>
                  </span>
                </div>
              </div>
              </div>
          </article>
        </div>

      </div>
    </div>
    <div class="column is-3 less-margin-right">

        <div class="content box">
          <h5 class="notification has-text-centered">category</h5>
          <ul style="list-style: none;">
            <li><a class="tag is-rounded is-medium is-info">News</a></li>
            <li><a class="tag is-rounded is-medium is-info">Networking</a></li>
            <li><a class="tag is-rounded is-medium is-info">Hardware</a></li>
            <li><a class="tag is-rounded is-medium is-info">Tech tips</a></li>
          </ul>
        </div>

    </div>
  </div>
</section>
<%= render 'layouts/footer' %>
