<%= render 'layouts/head' %>
<section class="container margin-top">
  <div class="columns">
    <div class="column">
      <h1 class="title has-text-centered">ICT consultancy</h1>

      <article class="content">
        Frequently, companies buy technology hoping that it will fit their organization and serve the company’s needs. This approach does not always work in most cases. Hypertech IT Consultants offers ICT Consultancy services to design a guideline for your technology needs and see the strategies put in place realized to achieve results.We consult and advise in the following areas:
        <ul>
          <li>ICT Policy & Strategy documentation</li>
          <li>ICT needs, analysis and audits</li>
          <li>Technological infrastructure planning, Analysis and Evaluation</li>
          <li>ICT Security</li>
        </ul>
        <figure>
          <div class="has-text-centered">
            <%= image_tag "ict-consultancy.png "%>
          </div>
        </figure>
        We develop solutions based on top down approach understanding of the organisation business processes in order to implement appropriate network and technology platforms.

      </article>
    </div>
  </div>
</section>
<%= render 'layouts/footer' %>
