<%= render 'layouts/head' %>

<section class="margin-top">
  <div class="container">
    <h1 class="title has-text-centered">Network Solutions</h1>
    <article class="content">
      <figure>
        <%= image_tag "networking2.jpg"%>
      </figure>
      <h1 class="title">Structured Cabling</h1>Structured Cabling is the installation of standardized cabling systems that are designed to carry data, video and voice signals in a residential or commercial environment.Hypertech IT Consultants specializes in the design, preparations of structured cabling specifications and installation of structured cabling systems with an emphasis on new construction and corporate relocations. Whether your network is ten computers or ten buildings in a campus environment, we can provide the copper and optic fiber cabling needed to connect voice and data across the Local Area Networks (LAN) and Wide Area Networks (WAN).Our cabling installation team is experienced in designing systems for a wide range of buildings and equipment types, with an understanding of the environment and aesthetic issues required.We offer a complete Network Cabling installation service utilizing:
      <ul>
        <li>Unshielded Twisted Pair (UTP)</li>
        <li>Shielded Twisted Pair (STP)</li>
        <li>Fibre Optic Systems.</li>
      </ul>

    </article>
  </div>
</section>
<%= render 'layouts/footer' %>
