<footer class="footer">
    <div class="notification">
        <div class="columns">
            <div class="column is-3 is-offset-2">
                <h2><strong>Our Contacts</strong></h2>
                <span class="icon has-text-info is-medium">
                    <i class="fa fa-map-marker fa-lg"></i>
                </span>
                <span class=""> Location:<br> Westlands Business park, Chiromo lane off Muthithi Road, Parkland Nairobi</span>
                <br>
                <span class="icon has-text-info">
                    <i class="fa fa-phone"></i>
                </span>
                <span>Mobile no. :<br> 0721 228 841, 0701046639</span>
                <br>
                <span class="icon has-text-info">
                    <i class="fa fa-envelope"></i>
                </span>
                <span>Email:<br> info@hypertechltd.net</span>
                <br>

            </div>
            <div class="column is-3">
                <h2><strong>Solution we provide</strong></h2>
                <span class="icon has-text-info">
                    <i class="fa fa-question-circle"></i>
                </span>
                IT Consultancy
                <br>
                <span class="icon has-text-info">
                    <i class="fa fa-laptop"></i>
                </span>Web development
                <br>
                <span class="icon has-text-info">
                    <i class="fa fa-institution"></i>
                </span>ICT training
                <br>
                <span class="icon has-text-info">
                    <i class="fa fa-wifi"></i>
                </span>Network solutions
                <br>
            </div>
            <div class="column is-4">
                <h2><strong>Find us on social media</strong></h2>
                <span class="icon has-text-info">
                    <i class="fa fa-facebook-official"></i>
                </span>Facebook
                <br>
                <span class="icon has-text-info">
                    <i class="fa fa-twitter"></i>
                </span>Twitter
                <br>
                <span class="icon has-text-info">
                    <i class="fa fa-instagram"></i>
                </span>Instagram
                <br>
            </div>
        </div>
    </div>

</footer>
